html,
body {
  margin: 0px;
  padding: 0px;
}

/* Comment for changing background white */
#app {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  background-size: 10px 10px;
  background-image: linear-gradient(
      to right,
      var(--background-gird-line) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--background-gird-line) 1px, transparent 1px);
}
