html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

/* Comment for changing background white */
#app {
  height: 100vh;
  background: var(--background-color);
  background-size: 10px 10px;
  background-image: linear-gradient(
      to right,
      var(--background-gird-line) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--background-gird-line) 1px, transparent 1px);
}

#flexMain {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border: solid red;
  height: 100vh;
}

nav {
  border: solid cyan;
}

#pageContent {
  flex: 1;
  border: solid blue;
}

#Panels {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  flex-direction: row;
  border: solid yellow;
}

#sidePanel {
  width: 350px;
  background-color: #fafafa;
  flex-shrink: 1;
  border: solid violet;
}

#sidePanelContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: solid orangered;
  height: 100%;
}

#listContainer {
  flex: 1;
  display: flex;
  border: solid cyan;
  overflow: auto;
  height: 100px;
}

.listBox {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid blue;
  align-items: center;
  padding-top: 10px;
}

/* Schematic Blocks Boxes */
[data-box='powerRoot'] {
  display: inherit;
}

[data-box='power'] {
  display: none;
}

[data-box='computeModules'] {
  display: none;
}

[data-box='pheripherials'] {
  display: none;
}

.schematicBlock {
  width: 15rem;
}

#tschsPanel {
  flex: 1;
  border: solid purple;
  overflow: hidden;
}

/* TODO: tsch should have another div main container */

/* How to Flex:
 - Parent : Add display flex, it sets/resets the elements
  inside to be flex. Add height and flex-direciton. Optional
  add flex-wrap if you want elements to wrap content is small.
 - Children: Just add flex: 1 to the element you want to
   make it fill the screen content. Flex: 1 sets:
      flex-grow: 1, flex-shrink: 0, flex-basis: 100%.
  
  
 // Use (border: solid color) to debug.
*/
