html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

/* #app {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  background-size: 10px 10px;
  background-image: linear-gradient(
      to right,
      var(--background-gird-line) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--background-gird-line) 1px, transparent 1px);
} */
