html,
body {
  /* margin: 0px;
  padding: 0px; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

.draggable {
  width: 25%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  touch-action: none;
  user-select: none;
}

#outer-dropzone {
  height: 140px;
}

#outer-dropzone2 {
  height: 140px;
}

#inner-dropzone {
  height: 50px;
}

.dropzone {
  position: relative;
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  padding: 4px;
  border-radius: 4px;
  width: 80%;
  transition: background-color 0.3s;
  /* Important for sizes */
  box-sizing: border-box;
}

.mat {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  padding: 4px;
  border-radius: 4px;
  width: 80%;
  transition: background-color 0.3s;
  /* Important for sizes */
  box-sizing: border-box;
}

#mats {
  height: 50%;
}

#tschs {
  height: 50%;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  position: relative;
  display: inline-block;
  min-width: 40px;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  touch-action: none;
  transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}
