html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
}

/* TSCH'S Container */
#tschs {
  position: relative;
  height: 100vh;
}

/* TSCH'S General CSS */
.tsch {
  /* Position */
  position: absolute;
  transform: translate(0px, 0px);
  /* Settings */
  touch-action: none;
  /* Important for sizes */
  box-sizing: border-box;
}

/* MAT TSCH CSS */
.tsch.matTsch {
  height: 140px;
  width: 80%;
  padding: 4px;
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-color: #aaa;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.tsch.matTsch.can-drop {
  background-color: #29e;
}

/* BLOCK TSCH CSS */
.tsch.blockTsch {
  min-width: 40px;
  padding: 2em 0.5em;
  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;
  transition: background-color 0.3s;
}
.tsch.blockTsch.can-drop {
  color: #000;
  background-color: #4e4;
}
.tsch.blockTsch.is-dropped {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}
