/* Drawflow Connection */
#svgdefs {
  width: 0;
  height: 0;
}

.tschs svg {
  z-index: 46;
  position: absolute;
  overflow: visible !important;
}

.tschs .main-path {
  fill: none;
  stroke-width: 5px;
  stroke: steelblue;
}

.tschs .connection {
  position: absolute;
  transform: translate(9999px, 9999px);
}

.tschs .connection .main-path {
  stroke: #4ea9ff;
  stroke-width: 3px;
  fill: none;
  stroke-width: 5px;
  transform: translate(-9999px, -9999px);
}

.tschs .connection .main-path:hover {
  stroke: #1266ab;
  cursor: pointer;
}

.tschs .connection .main-path.selected {
  /* stroke: #43b993;
  border: 1px solid #4ea9ff;
  -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
  box-shadow: 0 2px 20px 2px #4ea9ff; */
  filter: drop-shadow(0px 0px 8px #4ea9ff);
}

.tschs .connectionCircle {
  fill: black;
}
